<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/main"></ion-back-button>
      </ion-buttons>
       <ion-title>{{residence.nameRes}}</ion-title>
      <ion-buttons slot="primary">
        <ion-button slot="end" color="dark" [routerLink]="['/main/add-reservation']">Reservar</ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  
  <ion-content color="secondary">
    <div>
      <ion-card>
        <ion-item>
          <ion-card-content>
            <ion-card-subtitle>Nombre de la Residencia: </ion-card-subtitle>
            <ion-card-content>{{residence.nameRes}}</ion-card-content>
            <ion-card-subtitle>Localización: </ion-card-subtitle>
            <ion-card-content>{{residence.locationRes}}</ion-card-content>
            <ion-card-subtitle>Cuartos: </ion-card-subtitle>
            <ion-card-content>{{residence.roomsRes}}</ion-card-content>
            <ion-card-subtitle>Camas: </ion-card-subtitle>
            <ion-card-content>{{residence.bedsRes}}</ion-card-content>
            <ion-card-subtitle>Parqueo: </ion-card-subtitle>
            <ion-card-content>{{residence.parLot}}</ion-card-content>
            <ion-card-subtitle>Wifi: </ion-card-subtitle>
            <ion-card-content>{{residence.wifi}}</ion-card-content>
            <ion-card-subtitle>Precio: </ion-card-subtitle>
            <ion-card-content>{{residence.priceDay}}</ion-card-content>
            <ion-card-subtitle>Contacto: </ion-card-subtitle>
            <ion-card-content>{{residence.contactRes}}</ion-card-content>
            <ion-card-subtitle>Correo: </ion-card-subtitle>
            <ion-card-content>{{residence.contactMail}}</ion-card-content>
          </ion-card-content>
        </ion-item>
      </ion-card>
    </div>
  </ion-content>
  