<ion-header>
  <ion-toolbar>
    <ion-title>Propiedades</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <div id="container">
    <ion-card *ngFor="let residences of residence">
      <img *ngIf="!fileUrl" src="https://i.ibb.co/tx2MGZz/maxresdefault.jpg" />
      <ion-item>
        <ion-card-header>
          <ion-card-subtitle>{{residences.nameRes}}</ion-card-subtitle>
          <ion-card-title>{{residences.locationRes}}</ion-card-title>
        </ion-card-header>
        <br>
        <ion-button slot="end" color="dark" (click)="view(residences.codeRes)">Ver</ion-button>
      </ion-item>
    </ion-card>
  </div>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="['/main/view-lessee']">
        <ion-icon name="home"></ion-icon>
        <ion-label>Agregar Residencia</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>