<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/main/view-lessee"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Propiedad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-card>
    <form [formGroup]="formEditResidence">
      <ion-grid>
        <ion-row color="secondary" style="justify-content: center; margin: 5px;  font-size: medium;">
          <ion-col style="align-self: center;" size-md="6" size-lg="5" size-xs="12">
            <br>
            <div padding>
              <ion-item>
                <ion-input [disabled]="true" formControlName="pcodeRes" type="text" placeholder="codigo" ></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="pnameRes" type="text" placeholder="Nombre del AirC&D"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="plocationRes" type="text" placeholder="Provincia"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="proomsRes" type="number" placeholder="Cantidad de Cuartos"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="pbedsRes" type="number" placeholder="Cantidad de camas"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label>Parqueo</ion-label>
                <ion-select formControlName="pparLot" placeholder="Seleccionar una opción">
                  <ion-select-option value="Y">Si</ion-select-option>
                  <ion-select-option value="N">No Disponible</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Wifi</ion-label>
                <ion-select formControlName="pwifi" placeholder="Seleccionar una opción">
                  <ion-select-option value="Y">Si</ion-select-option>
                  <ion-select-option value="N">No Disponible</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-input formControlName="ppriceDay" type="number" placeholder="Precio"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="pcontactRes" type="text" placeholder="Contacto"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input formControlName="pcontactMail" type="email" placeholder="Correo de Contacto"></ion-input>
              </ion-item>
            </div>
            <div padding>
              <ion-button size="large" type="submit" expand="block" (click)="editResidence()"
                [disabled]="!formEditResidence.valid">Registrar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>