<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Reservación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-card>
  <form  [formGroup]="formAddReservations">
    <ion-grid>
      <ion-row color="primary" style="justify-content: center; margin: 5px;  font-size: medium;">
        <ion-col style="align-self: center;" size-md="6" size-lg="5" size-xs="12">
          <br>
          <div padding>
            <ion-item>
              <ion-datetime   formControlName="pcheckIn" type="text"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-datetime   formControlName="pcheckOut" type="text"></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-input   formControlName="ppeople" type="number" placeholder="Cantidad de personas"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" expand="block" (click)="addReservation()" [disabled]="!formAddReservations.valid">Reservar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-card>
</ion-content>

