<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content color="primary">
  <ion-card>
    <form [formGroup]="formAddUser">
      <ion-grid>
        <ion-row color="primary" style="justify-content: center; margin: 5px;  font-size: medium;">
          <ion-col style="align-self: center;" size-md="6" size-lg="5" size-xs="12">
            <br>
            <div>
              <br>
              <ion-item>
                <ion-input formControlName="pnameUser" type="text" placeholder="Nombre"></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-input formControlName="pemailUser" type="email" placeholder="nombre@email.com"></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-input formControlName="ppassUser" type="password" placeholder="Password"></ion-input>
              </ion-item>
              <br>
              <ion-item>
                <ion-label>Tipo de Usuario</ion-label>
                <ion-select placeholder="Seleccionar una opción" formControlName="ptypeUser">
                  <ion-select-option value="arrendatario">Arrendatario</ion-select-option>
                  <ion-select-option value="huesped">Huesped</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <br>
            <div>
              <ion-button size="large" expand="block" (click)="addUser()" [disabled]="!formAddUser.valid">Registrar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
