<ion-content color="primary" style="margin-top: 15px;">
  <ion-card>
    <form>
      <ion-row color="primary" style="justify-content: center; margin: 5px;  font-size: medium;">
        <ion-col size-md="6" size-lg="5" size-xs="12">
          <div>
            <h2 style="text-align: center;">Iniciar sesión</h2>
          </div>
          <div>
            <ion-input name="mail" type="email" placeholder="nombre@email.com"></ion-input>
          </div>
          <div>
            <ion-input name="password" type="password" placeholder="contraseña"></ion-input>
          </div>
          <div>
            <ion-button size="large" type="submit" expand="block" [routerLink]="['/main']">Ingresar</ion-button>
          </div>
          <div>
            <ion-button size="large" type="submit" expand="block" [routerLink]="['/main/add-user']">Registrarse
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
</ion-content>